/* about us page css start */

.abtHeroHead {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  display: none;
}

.abtHr {
  display: none;
}

.abtCardBody {
  background: white;
  padding-left: 87px;
  padding-right: 87px;
  padding-top: 37px;
  padding-bottom: 37px;
  text-align: left;
  border-radius: 20px;
}

.abtCard {
  padding: 25px 144px;

  left: 0px;
  top: 270px;
}

.abtImg {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.abtHead {
  text-align: center;
}

@media only screen and (max-width: 1350px) {
  .abtCardBody {
    background: white;
    padding: 47px;

    text-align: left;
    border-radius: 20px;
  }
  .abtCard {
    padding: 25px 80px;

    left: 0px;
    top: 270px;
  }
}

@media only screen and (max-width: 1100px) {
  .abtCardBody {
    background: white;
    padding: 37px;

    text-align: left;
    border-radius: 20px;
  }
  .abtCard {
    padding: 25px 60px;

    left: 0px;
    top: 270px;
  }
}
@media only screen and (max-width: 750px) {
  .abtCardBody {
    padding: 35px 20px;
  }

  .abtCard {
    padding: 22px 25px;
    position: absolute;
    margin: auto;
  }

  .abtHeroHead {
    display: revert;
  }

  .abtHr {
    display: revert;
    color: #fff;
    background: #fff;
  }
}
